@import url("/src/styles/root.css");
@import url("/src/styles/header.css");
@import url("/src/styles/aside.css");
@import url("/src/styles/footer.css");

main {
	width: 90%;
	margin: 1em auto;
}

@media screen and (min-width: 768px) {
	main {
		width: calc(100% - 15rem);
		margin: calc(-100vh - 6em) 0 2em 15em;
	}

	main > section:last-child {
		padding-bottom: 12em;
	}
}
